<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HidSharp" version="2.1.0" targetFramework="net472" />
  <package id="LibreHardwareMonitorLib" version="0.9.3" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.PowerShell.5.1.ReferenceAssemblies" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.PowerShell.SDK" version="7.4.6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net472" />
  <package id="SocketIO.Core" version="3.1.2" targetFramework="net472" />
  <package id="SocketIO.Serializer.Core" version="3.1.2" targetFramework="net472" />
  <package id="SocketIO.Serializer.SystemTextJson" version="3.1.2" targetFramework="net472" />
  <package id="SocketIOClient" version="3.1.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="8.0.0" targetFramework="net472" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net472" />
  <package id="System.Management" version="8.0.0" targetFramework="net472" />
  <package id="System.Management.Automation" version="7.4.6" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="8.0.4" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>